---
import Hero from '../components/Hero';
import Expertise from '../components/Expertise';
import Products from '../components/Products';
import Posts from '../components/Posts';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home Page">
  <Hero />
  <div class="border-t-2 border-gray-100 dark:border-gray-800 my-16"></div>
  <Expertise />
  <div class="border-t-2 border-gray-100 dark:border-gray-800 my-16"></div>
  <Products />
  <div class="border-t-2 border-gray-100 dark:border-gray-800 my-16"></div>
  <Posts />
</MainLayout>
