---
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import Posts from "../components/Posts.astro";
import MainLayout from "../layouts/MainLayout.astro";

const blogPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((post) => ({
    id: post.id,
    title: post.data.title,
    description: post.data.description,
    pubDate: post.data.pubDate.toISOString(),
    externalUrl: post.data.externalUrl,
  }));

const experiences = (await getCollection("experiences"))
  .sort((a, b) => a.data.order - b.data.order)
  .map((exp) => ({
    id: exp.id,
    companyName: exp.data.companyName,
    companyLogo: exp.data.companyLogo,
    productImg: exp.data.productImg,
    productTitle: exp.data.productTitle,
    productSubtitle: exp.data.productSubtitle,
    startYear: exp.data.startYear,
    endYear: exp.data.endYear,
  }));
---

<MainLayout title="Home Page">
  <Hero />
  <div class="border-t-2 border-gray-100 dark:border-gray-800 my-16"></div>
  <Products products={experiences} />
  <div class="border-t-2 border-gray-100 dark:border-gray-800 my-16"></div>
  <Posts posts={blogPosts} />
</MainLayout>
