<section class="container mx-auto -my-10">
    <div
        class="flex flex-col md:flex-row justify-between items-center space-y-8 md:space-y-0 md:space-x-8"
    >
        <div class="text-center">
            <h3
                class="text-xl font-bold mb-4 underline underline-offset-4 decoration-rose-300 decoration-double"
            >
                Planning
            </h3>
            <img
                src="/img/planning.svg"
                alt="Planning"
                class="w-32 h-32 mx-auto"
            />
        </div>
        <div class="text-center">
            <h3
                class="text-xl font-bold mb-4 underline underline-offset-4 decoration-rose-300 decoration-double"
            >
                Teamwork
            </h3>
            <img src="/img/team.svg" alt="Teamwork" class="w-32 h-32 mx-auto" />
        </div>
        <div class="text-center">
            <h3
                class="text-xl font-bold mb-4 underline underline-offset-4 decoration-rose-300 decoration-double"
            >
                Delivery
            </h3>
            <img
                src="/img/delivery.svg"
                alt="Delivery"
                class="w-32 h-32 mx-auto"
            />
        </div>
    </div>
</section>
