@tailwind base;
@tailwind components;
@tailwind utilities;

#toasty {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: -100px;
    transition: 500ms;
    background: url('./img/toasty.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

#planet-cursor:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC), auto;
}